@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 100%;
    height: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------ */

.header{
    display: flex;
    font-family: S-CoreDream-4Regular;
    width: 100%;
    height: 10vh;
    background-color:beige;
}

.logo{
    display: flex;
    flex-direction: start;
    width: 15%;
    height: 60%;
    margin: 2vh;
}

/* ------------------------header------------------------------------------------ */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:beige;
}

.inner{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.title{
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: 'S-CoreDream-6Bold';
    border-top: 0.2vh solid #0b6d5f;
    border-bottom: 0.2vh solid #0b6d5f;
    color: #0b6d5f;
}
.content{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.2vh;
    font-family: 'S-CoreDream-5Medium';
    color: darkgray;
}

.actions{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions>button{
    height: 40%;
    width: 8%;
    background-color: #084C40;
    color: #fff;
    border: 0;
    font-family: 'S-CoreDream-5Medium';
    font-size: 2vh;
    border-radius: 0.5vh;
}

.actions>button:hover{
    background-color:#fff ;
    color: #0b6d5f;
    
}
/* ------------------------inner------------------------------------------------ */

.inner02{
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: #0b6d5f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.title02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:3vh;
    font-family: 'S-CoreDream-6Bold';
    border-bottom: 0.8vh solid #fab8b8;
    color: beige;
    height: 15%;
}

.content02{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:2vh;
    color: beige;
    font-family: 'S-CoreDream-5Medium';
    text-align: center;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
}


/* ------------------------inner02------------------------------------------------ */

.inner03{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.img{
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 40%;
    height: 100%;
}

.imgcontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    border: 1.5vh solid #fff;
    color: #0b6d5f;
}

.imgcontent>h2{
    color: #0b6d5f;
    font-family: 'KOTRA_BOLD-Bold';
    font-size: 10vh;
}

.part01{
    width: 70%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'S-CoreDream-5Medium';
    font-size: 2vh;
 
}
.part02{
    width: 70%;
    height: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'S-CoreDream-5Medium';
    font-size: 2vh;
    margin-left: 20vh;
  

}
.part03{
    width: 70%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'S-CoreDream-5Medium';
    font-size: 2vh;
}

/* ------------------------inner03------------------------------------------------ */

.inner04{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: S-CoreDream-4Regular;
    width: 100%;
    height: 100vh;
    background-color: #0b6d5f;
}

.contentTop{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentBootom{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btTop{
    height: 35%;
    width:70%;
    display: flex;
    justify-content: space-evenly;
}

.btBt{
    height: 35%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0.6vh solid beige;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;

}

.bold{
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.8vh;
}

.light{
    font-family: 'S-CoreDream-4Regular';
    font-size: 1.2vh;
}

.box:hover{
    background-color: #fab8b8;
    border: 0.8vh solid #fab8b8;

}

/* ------------------------inner04------------------------------------------------ */

.footer{
    display: flex;
    flex-direction: column;
    font-family: S-CoreDream-4Regular;
    width: 100%;
    height: 40vh;
    background-color:beige;
}

.footerLogo{
    margin: 5vh 3vh 5vh 5vh;
}

.text{
    margin: 0 7vh;
}

/* ------------------------innerQnA------------------------------------------------ */

/* ------------------------generic------------------------------------------------ */

#genericbanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color:beige;
}


.innerGeneric{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}


.titleGeneric{
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: 'S-CoreDream-6Bold';
    border-top: 0.2vh solid #0b6d5f;
    border-bottom: 0.2vh solid #0b6d5f;
    color: #0b6d5f;
    
    
}



.innerGeneric1{
    display: flex;
    width: 100%;
    height: 150vh;
    background-color: #0b6d5f;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    
}


.add1{
	display : flex;
	width : 70%;
	height : 30%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}


.add2{
	display : flex;
	width : 70%;
	height : 30%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}


.subtitle{
	width : 35%;
	height:15%;
    display: flex;
    flex-direction: column;
    font-size:5vh;
    font-family: 'S-CoreDream-6Bold';
    border-bottom: 0.5vh solid #fab8b8;
    color: beige;
}

.contentGeneric{
	width : 80%;
	height : 70%;
    display: flex;
    flex-direction: column;
    font-size:2vh;
    color: beige;
    font-family: 'S-CoreDream-5Medium';
}


#qnabanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:beige;
}

.innerqna{
	display: flex;
    width: 100%;
    height: 70vh;
    background-color: #0b6d5f;
    flex-direction: column;
    justify-content:center;
	align-items: center;
 
}

.add3{
	display : flex;
	width : 70%;
	height : 50%;
	flex-direction: column;
	justify-content:flex-start;
	align-items: flex-start;
	
}

.subtitle2{
	width : 35%;
	height:30%;
    display: flex;
    flex-direction: column;
    font-size:5vh;
    font-family: 'S-CoreDream-6Bold';
    border-bottom: 0.5vh solid #fab8b8;
    color: beige;
}

.contentGeneric2{
	width : 70%;
	height : 70%;
    display: flex;
    flex-direction: column;
    font-size:2vh;
    color: beige;
    font-family: 'S-CoreDream-5Medium';
}


.innerGeneric2{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: beige ;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    
}




/* ============================================== */












